/* Header styles */
.top-bar {
  background: linear-gradient(
    rgba(235, 167, 172, 0.95),
    rgba(201, 118, 124, 0.75)
  );
  padding: var(--space-md);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  color: var(--white-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  padding: 0 var(--space-md);
}

.top-bar-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.top-bar-icons a {
  color: var(--white-color);
  opacity: 0.9;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
}

.top-bar-icons a:hover {
  color: var(--medium-pink);
}

.language-switch {
  font-family: var(--heading-font);
  font-size: 16px;
  font-weight: 400;
}

/* Navigation styles */
nav {
  align-items: center;
  background: linear-gradient(
    rgba(235, 167, 172, 0.95),
    rgba(235, 167, 172, 0.75)
  );
  display: flex;
  justify-content: space-between;
  padding: var(--space-md);
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 1000;
  color: var(--white-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.logo {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: bold;
}

.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 24px;
  color: var(--white-color);
}

.navigation-links {
  align-items: center;
  display: flex;
  gap: var(--space-md);
  list-style: none;
}

.navigation-links a {
  color: var(--white-color);
  font-family: var(--heading-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  position: relative;
}

.navigation-links a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--medium-pink);
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navigation-links a:hover,
.navigation-links .active-link:hover {
  color: var(--medium-pink);
}

.navigation-links a:hover:after {
  width: 100%;
}

.contact-btn {
  background-color: var(--medium-pink);
  color: var(--white-color) !important;
  border-radius: 8px;
  font-family: var(--button-font);
  font-size: 20px;
  font-weight: bold !important;
  padding: 15px 30px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.contact-btn:hover {
  background-color: var(--medium-pink);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .navigation-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--soft-pink);
    position: absolute;
    top: 60px;
    left: 0;
    padding: var(--space-sm) 0;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  .navigation-links.active {
    display: flex;
    max-height: 500px;
  }

  .navigation-links a {
    padding: 10px 20px;
    border-radius: 8px;
  }

  .hamburger-menu {
    display: block;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--white-color);
  }

  .contact-btn {
    margin-top: var(--space-sm);
  }
}

.hamburger-menu.open::before {
  content: "\2715";
  font-size: 24px;
  color: var(--white-color);
}
