/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Variables */
  --soft-pink: #eba7ac;
  --black: #000000;
  --light-pink: #f4c2c2;
  --medium-pink: #d85372;
  --dark-gray: #333333;
  --white-color: #ffffff;

  /* Spacing Variables */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 32px;
  --space-lg: 64px;
  --space-xl: 128px;

  /* Font Variables */
  --heading-font: "Satoshi", sans-serif;
  --body-font: "Lato", sans-serif;
  --button-font: "Satoshi", sans-serif;

  /* Other variables */

  --button-padding: 15px 30px;
  --button-radius: 8px;
  --button-font-size: 1rem;
  --button-font-weight: bold;
}
/* Base button styles */
button,
.cta-button {
  font-family: var(--button-font);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, transform 0.3s ease;
}

/* Primary button */
.button-primary,
.cta-button {
  background-color: var(--medium-pink);
  color: var(--white-color);
  border: none;
  text-decoration: none; /* Ensure no underline */
}

.button-primary:hover,
.cta-button:hover {
  transform: scale(1.05);
}

/* Secondary button */
.button-secondary {
  background-color: var(--white-color);
  color: var(--medium-pink);
  border: 2px solid var(--medium-pink);
}

.button-secondary:hover {
  background-color: var(--medium-pink);
  color: var(--white-color);
  border-color: var(--medium-pink);
  transform: scale(1.05);
}

/* Media queries */
@media (max-width: 768px) {
  button,
  .cta-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--body-font);
  overflow-x: hidden;
}

body {
  padding-top: 0px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-md);
}

img,
video {
  max-width: 100%;
  height: auto;
}

section {
  padding: var(--space-lg) 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--space-sm);
  }

  section {
    padding: var(--space-md) 0;
  }
}

/* Navigation links */
.navigation-links a {
  position: relative;
  color: var(--white-color);
  font-family: var(--heading-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Specific rule to remove underline from contact button in navbar */
#contact-btn {
  text-decoration: none;
}

#contact-btn:hover {
  text-decoration: none;
  transform: scale(1.05);
}
